<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="public/css/styles.css">
  <title>My Portfolio</title>
</head>
<body>
  <include src="components/header.html"></include>
  <main class="main-content">
    <div id="app">
    <!-- content from pages will be rendered here -->
    </div>
  </main>
  <include src="components/footer.html"></include>
  <script src="public